* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    height: 100%;
    font-family: $f-primary;
    font-size: $f-base;
    color: $c-default;
    background-color: $c-bg;
}

.container {
    @include mx-auto;
    width: 90%;
    max-width: 1100px;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
