.avatar {
    width: 60px;
    height: 60px;
    border-radius: 100%;

    &--purple {
        @include gradient-avatar('purple');
    }

    &--cyan {
        @include gradient-avatar('cyan');
    }

    &--orange {
        @include gradient-avatar('orange');
    }

    &--pink {
        @include gradient-avatar('pink');
    }
}
