/* Share Tech Mono */

@font-face {
    font-family: 'Share Tech Mono';
    src: url('../../fonts/share-tech-mono/sharetechmono-regular-webfont.woff2') format('woff2'),
         url('../../fonts/share-tech-mono/sharetechmono-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}


/* Montserrat */

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/montserrat/montserrat-bold-webfont.woff2') format('woff2'),
         url('../../fonts/montserrat/montserrat-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/montserrat/montserrat-medium-webfont.woff2') format('woff2'),
         url('../../fonts/montserrat/montserrat-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
         url('../../fonts/montserrat/montserrat-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/montserrat/montserrat-thin-webfont.woff2') format('woff2'),
         url('../../fonts/montserrat/montserrat-thin-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
