/**
* Variables
*/

/**
* Colors
*/

// Primary
$purple: #7800ff;
$cyan: #5fd5ff;
$pink: #fe3472;
$orange: #ff502a;

// Secondary
$purple-light: #8364ce;
$green: #46bcaa;
$indigo: #4835d5;
$orange-light: #ff7f37;

// Text
$white: #ffffff;

// Background
$black: #101010;


/**
* Typography
*/
$f-primary: 'Montserrat', sans-serif;
$f-secondary: 'Share Tech Mono', monospace;
$c-default: $white;
$-accent: $purple;


/**
* Breakpoints
*/
$small: 600px;
$medium: 900px;
$large: 1200px;
